.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  margin-top: 10px;
}

.error {
  color: red;
}


.login {
  height: 100%;
}


.login {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
